
@model IEnumerable<SE1620_GROUP3_ASS3.Models.Show>
    @inject IHttpContextAccessor HttpContextAccessor;
    @using Microsoft.AspNetCore.Http;

    @{
        ViewData["Title"] = "Index";
    }

    <h1>Index</h1>
    @{
        string user = HttpContextAccessor.HttpContext.Session.GetString("UserName") ?? "";
    }
    @{
        if (user != "")
        {
            <p>
                <a asp-action="Create">Create New</a>
            </p>

        }
    }

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ShowDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Slot)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Film)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Room)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShowDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Slot)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Film.CountryCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Room.RoomId)
                    </td>
                    <td>
                        <a asp-action="Index" asp-controller="Bookings" asp-route-id="@item.ShowId">Bookings</a>
                    </td>
                    @{
                        if (user != "")
                        {
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.ShowId">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.ShowId">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.ShowId">Delete</a>
                            </td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
